@import "../fonts/edwardianScript/styles.css";



@media screen and (min-width: 0px) and (max-width: 467px) {
  .backgroundText {
    font-size: 30px !important;
    text-align: center;
  }

  .backgroundSubText {
    font-size: 20px !important;
  }
}

@media screen and (min-width:468px) and (max-width: 767px) {
  .backgroundText {
    font-size: 42px !important;
    text-align: center;
  }

  .backgroundSubText {
    font-size: 25px !important;
  }
}

@media screen and (min-width:768px) {
  body {
    font-size: 18px;
  }

  .nav-link {
    font-size: 15px !important;
  }
}

.backgroundText {
  font-family: "EdwardianScriptITC", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: initial !important;
  font-size: 140px !important;
}

.backgroundSubText {
  font-family: "EdwardianScriptITC", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize !important;
  font-size: 50px !important;
  
}

#dutchBtn, #frenchBtn {
background-color: transparent;
border: transparent;
color: white;
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 20px 50px -10px #679436 inset;
  color: #679436;
  width: 80%;
  border-radius: 27.5px;
}

img {
  border-radius: 27.5px;
}

.roudingbutton {
  border-radius: 27.5px;
}

.rowP {
  display: flex;
}

.columnP {
  flex: 50%;
  padding: 5px;
}

.homeBtnColor {
  background-color: white;
}

.btn.btn-primary:hover {
  background-color: hsla(0, 0%, 100%, 0.7) !important;
}

.btn.btn-primary {
  border-color: black !important;
}